body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family:'Inter', sans-serif  ;
}

.search-container {
    position: relative;
    left: 450px;
    width: 300px;
    margin-top: -35px;
    height: 45px;
    border-radius: 15px;
}

.search-input {
    width: 220px;
    padding: 10px 40px 10px 40px; 
    border: 1px solid #858282;
    outline: none;
    border-radius: 10px;
    height: 27px;
}

.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    font-size: 18px; 
    color: #000000; 
    pointer-events: none; 
    width: 24px;
    height: 24px;
    
}
nav{
    padding-top: 17px;
    width: 100%;
    height: 60px;
    
}
.cyber{
    width: 65.4px;
height: 22.872px;
font-weight: 600;
font-size: 24px;
margin-left: 109px;

}
nav ul {
    display: inline-block;
    list-style-type: none;
    position: absolute;
}
nav ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--Main-Black, var(--color-black-solid, #858282));
    font-family:'Inter', sans-serif  ;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 7px;
}
.navicons a:hover{
    color: #000;
}
.navicons a.active{
    color: #000;
}
.navicons{
    margin-top: -44px;
    display: flex;
    gap: 60px;
    position: relative;
    left: 900px;
   
}
.cartmenu a{
    text-decoration: none;
    color: #A4A4A4;
}
.cartmenu{
    padding-top: 50px;
    margin-left:150px ;
    color: #A4A4A4;
    font-family:'Inter', sans-serif  ;
font-size: 19.5px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */   
}
.cartmenu a:hover{
    color: #000;
}
.cartmenu a.active{
    color: #000;
}
.whitearr{
    margin-top: 15px;
}
.cartviletsides{
   gap: 30px;
   line-height: 49px;
}
.cartvilet{
    margin-top: 250px;
    margin-left: 150px;
}
.viletipone{
    position: relative;
    left: 200px;
    margin-top: -500px;
}
.dh{
    color: var(--color-black-solid, #000);
font-family:'Inter', sans-serif ;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 100% */
}
.dprice{
    color: var(--color-black-solid, #000);
    font-family:'Inter', sans-serif  ;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 150% */
letter-spacing: 0.96px;
}
.doldp{
    color: #A0A0A0;
    font-family:'Inter', sans-serif  ;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
letter-spacing: 0.72px;
text-decoration:line-through;
position: relative;
left: 120px;
margin-top:-65px;
}
.selectcolor{
    display: flex;
    gap: 13px;
}
.selectcolor img{
    width: 28px;
    height: 28px;
    padding-top: 15px;

}
.selectcolor p{
    color: var(--Black, #0C0C0C);
    font-family:'Inter', sans-serif  ;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}
.gb{
    
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: var(--radius-8, 8px);
border: 1px solid #D5D5D5;
background: var(--color-white-solid, #FFF);
width: 122px;
height: 38px;
}
.gb p{
    color: #D5D5D5;
text-align: center;
font-family:'Inter', sans-serif  ;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 114.286% */
}
.tb{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family:'Inter', sans-serif  ;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 114.286% */
}
.gbbox{
    display: flex;
    width: 630px;
    gap: 30px;

}
.ss{
    display: flex;
width: 180px;
height: 40px;
padding: 16px 8px;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 7px;
background: #F4F4F4;
}
.ss p{
    width: 150px;
}
.setting{
     gap: 20px;
     width: 600px;
     display: flex;
    padding-top: 50px;
}
.settingtwo{
    gap: 20px;
     width: 600px;
     display: flex;
     padding-top: 15px;
}
.more{
    width: 600px;
    color: #6C6C6C;
    font-family:'Inter', sans-serif  ;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.mor{
    color: #2C2C2C;
    font-family:'Inter', sans-serif  ;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
}
.addtowish{
   
min-width: 156px;
padding: 16px 56px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 6px;
border: 1px solid var(--Main-Black, #000);
background: var(--color-white-solid, #FFF);
}
.addtocard{
 
    color: #F4F4F4;
width: 300px;
padding: 16px 56px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 6px;
background: var(--color-black-solid, #000);
}
.order{
    width: 620px;
    display: flex;
    gap: 20px;
    
}
.truck{
    display: flex;
padding: 16px;
flex-direction: column;
align-items: center;
gap: 8px;
border-radius: 11px;
background: #F6F6F6;
width: 40px;
}
.delyicons p{
    color: #717171;
    font-family:'Inter', sans-serif  ;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 24px;
width: 140px; /* 171.429% */
position: relative;
left: 80px;
margin-top:-55px ;
}
.proses{
    margin-top: 30px;
    display: flex;
    gap:80px ;
    width: 600px;
}
.cartdetails{
    position: relative;
    left: 800px;
    margin-top: -650px;
}
.cartviletsides{
  margin-left: 80px;  
}
.viletipone{
    margin-left: 70px;
}
.Details{
    color: var(--color-black-solid, #000);
    font-family:'Inter', sans-serif  ;
font-size: 26px;
font-style: normal;
font-weight: 800;
line-height: 32px; /* 133.333% */
}
.Dedes{
    color: #9D9D9D;
    font-family:'Inter', sans-serif  ;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */

}
.SD{
    color: var(--color-black-solid, #000);
    font-family:'Inter', sans-serif  ;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.number{
    color: var(--color-black-solid, #000);
    font-family:'Inter', sans-serif  ;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
float: right;
text-align: right;
width: 150px;
}
.Screen{
    color: var(--color-black-solid, #000);
    font-family:'Inter', sans-serif  ;
font-size: 22px;
font-style: normal;
font-weight: bold;
line-height: 24px; /* 120% */
padding-top: 70px;
}
.hrr{
    color: #9D9D9D;
    
}
.hrrr{
    color: #9D9D9D;
    margin-top: 100px;
}
.view{
    display: flex;
    padding: 12px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--radius-8, 8px);
   border: 1px solid #545454;
   background: var(--color-white-solid, #FFF);
   margin-left: 580px;
}
.details{
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    background: #FAFAFA;
    margin-top: 50px;
}
.ded{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;   
}
.f{
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: center;
font-family:'Inter', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 56px; /* 100% */
}
.rate{
    display: flex;
padding: 32px;
flex-direction: column;
align-items: center;
width: 180px;
border-radius: 25px;
background: #FAFAFA;
margin-top: 50px;
}
.reviews{
    color: var(--color-black-solid, #000);
    font-family:'Inter', sans-serif  ;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
padding-top: 80px;
}
.rcoment{
    color: var(--Main-Black, var(--color-black-solid, #000));
    font-family:'Inter', sans-serif  ;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 88.889% */
margin-left: 410px;
margin-top: -250px;
}
.hori{
    width: 750px;
    border-radius: 16px;
    background: #FFB547;
    height: 5px;
    float: right;
    margin-top: -165px;
    margin-right: 250px;
   
}
.rating{
    margin-left: 160px;
}
.leave{
    color: #979797;
    font-family:'Inter', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
letter-spacing: -0.07px;
margin-right: 250px;
display: flex;
padding: 24px 16px;
align-items: center;
align-self: stretch;
border-radius: 7px;
border: 0.5px solid #CECECE;
background: var(--color-white-solid, #FFF);
width: 1450px;
}
.rat{
    
    color: var(--Main-Black, var(--color-black-solid, #000));
text-align: right;
font-family:'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
float: right;
margin-right: 200px;
margin-top: -360px;
}
.Ur1{
    color: #7E7E7E;
    font-family:'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 160% */
    padding-left: 100px;
}
.Uname{
    color: var(--Main-Black, var(--color-black-solid, #000));
    font-family:'Inter', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 141.176% */
width: 200px;
display: flex;
padding-left: 70px;
margin-top: -60px;

}
.user1{
    margin-top: 50px;
padding: 24px 28px 24px 16px;
align-items: flex-start;
gap: 19px;
align-self: stretch;
border-radius: 10px;
background: #FAFAFA;
margin-left: 160px;
margin-right:270px ;
width: 1440px;
}
.stars{
    display: flex;
   margin-left: 70px;
}
.vie{
    display: flex;
    padding: 12px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--radius-8, 8px);
   border: 1px solid #545454;
   background: var(--color-white-solid, #FFF);
   margin-top: 50px;
   margin-left: 780px;
}
.ftblack{
    width: 1900px;
    height: 600px;
    margin-left: -300px;
    background-color: #000000;
    margin-top: 60px;
}